.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left{
    width: 50vw;
    height: 100vh;
    min-width: 430px;

}
.inputbox{
   width: 40vw;
   height: 50vh;
   min-width: 350px;
   position: absolute;
   top: 7vh;
   left: 10vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.spell_check{
    width: 40vw;
    height: 30vh;
    min-width: 350px;
    position: absolute;
    top: 60vh;
    left: 10vw;
}
.suggest_res{
    height: 30vh;
    overflow: scroll;
}
.right{
    width: 50vw;
    height: 100vh;
   overflow: scroll;
}
.train_text{
    margin: 5vw;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p1{
    font-size: 20px;
}
.pre_load{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 40vw;
}